# 3.5 Reading CSV files

3.5-Reading-CSV-files_Matthew-L-Pergolski

Use the example we covered in the previous lecture and create your own program to read this file. Then display the lines in the table you created. The data file is attached.  

Then discuss any issues you had in the process. Check out your fellow classmates' responses and comment on at least two of them.

In [2]:
import pandas as pd
import numpy as np

file = pd.read_csv('/Users/pergolicious/Downloads/states_data.tsv', sep = '\t')
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Data of the States  53 non-null     object
 1   State Abbrev.       51 non-null     object
 2   Postal Abbrev.      51 non-null     object
 3   Area (Sq Mi)        52 non-null     object
 4   Population*         52 non-null     object
dtypes: object(5)
memory usage: 2.3+ KB

In [3]:
file.head()

  Data of the States State Abbrev. Postal Abbrev. Area (Sq Mi) Population*
0            Alabama          Ala.             AL       52,423   4,040,587
1             Alaska        Alaska             AK      656,424     550,043
2            Arizona         Ariz.             AZ      114,006   3,665,228
3           Arkansas          Ark.             AR       53,182   2,350,725
4         California        Calif.             CA      163,707  29,769,021

In [4]:
# Example of calculation

file['Area (Sq Mi)']
file['Area (Sq Mi)'] = file['Area (Sq Mi)'].str.replace(',','').astype(float)

np.mean(file['Area (Sq Mi)'])

145666.0

In [5]:
filelist = []

for line in file:
    textline = line.strip()
    item = line.split()
    filelist.append(item)
    
filelist

[['Data', 'of', 'the', 'States'],
 ['State', 'Abbrev.'],
 ['Postal', 'Abbrev.'],
 ['Area', '(Sq', 'Mi)'],
 ['Population*']]

In [6]:
# statedict = {}
# for item in file:
#     statedict = {}
#     statedict['Data of the States'] = file[0]
#     statedict['State Abbrev.'] = file[1]
#     statedict['Postal Abbrev.'] = file[2]
#     statedict['Area (Sq Mi)'] = file[3]
#     statedict['Population*'] = file[4]
#     statedict.append(item)

In [11]:
import pandas as pd
import numpy as np

file = pd.read_excel('/Users/pergolicious/Downloads/states_data.xls')
file.head()

  Data of the States State Abbrev. Postal Abbrev.  Area (Sq Mi)  Population*
0            Alabama          Ala.             AL       52423.0    4040587.0
1             Alaska        Alaska             AK      656424.0     550043.0
2            Arizona         Ariz.             AZ      114006.0    3665228.0
3           Arkansas          Ark.             AR       53182.0    2350725.0
4         California        Calif.             CA      163707.0   29769021.0

In [28]:
import pandas as pd
import numpy as np

file = pd.read_excel('/Users/pergolicious/Downloads/states_data.xls')
#file = file.iloc[:,0:].values
file.shape[1]
file.columns = range(file.shape[1])
file

emptylist = []

for line in file:
    line = str(line)
    textline = line.strip()
    item = line.split()
    emptylist.append(item)
    
for item in emptylist:
    print(emptylist[0], emptylist[1], emptylist[2])

['0'] ['1'] ['2']
['0'] ['1'] ['2']
['0'] ['1'] ['2']
['0'] ['1'] ['2']
['0'] ['1'] ['2']

In [32]:
import pandas as pd
import numpy as np

file = pd.read_excel('/Users/pergolicious/Downloads/states_data.xls')

file

def printinfo(df):
    print(df[])

,Data of the States,State Abbrev.,Postal Abbrev.,Area (Sq Mi),Population*
0,Alabama,Ala.,AL,52423.0,4040587.0
1,Alaska,Alaska,AK,656424.0,550043.0
2,Arizona,Ariz.,AZ,114006.0,3665228.0
3,Arkansas,Ark.,AR,53182.0,2350725.0
4,California,Calif.,CA,163707.0,29769021.0
5,Colorado,Colo.,CO,104100.0,3294394.0
6,Connecticut,Conn.,CT,5544.0,3287116.0
7,Delaware,Del.,DE,2489.0,666168.0
8,District of Columbia,D.C.,DC,68.0,606900.0
9,Florida,Fla.,FL,65756.0,12937926.0
10,Georgia,Ga.,GA,59441.0,6478216.0
11,Hawaii,Hawaii,HI,10932.0,1108229.0
12,Idaho,Idaho,ID,83574.0,1006749.0
13,Illinois,Ill.,IL,57918.0,11430602.0
14,Indiana,Ind.,IN,36420.0,5544159.0
15,Iowa,Iowa,IA,56276.0,2776755.0
16,Kansas,Kans.,KS,82282.0,2477574.0
17,Kentucky,Ky.,KY,40411.0,3685296.0
18,Louisiana,La.,LA,51843.0,4219973.0
19,Maine,Maine,ME,35387.0,1227928.0
20,Maryland,Md.,MD,12407.0,4781468.0
21,Massachusetts,Mass.,MA,10555.0,6016425.0
22,Michigan,Mich.,MI,96705.0,9295297.0
23,Minnesota,Minn.,MN,86943.0,4375099.0
24,Mississippi,Miss.,MS,48434.0,2573216.0
25,Missouri,Mo.,MO,69709.0,5117073.0
26,Montana,Mont.,MT,147046.0,799065.0
27,Nebraska,Nebr.,NE,77358.0,1578385.0
28,Nevada,Nev.,NV,110567.0,1201833.0
29,New Hampshire,N.H.,NH,9351.0,1109252.0
30,New Jersey,N.J.,NJ,8722.0,7730188.0
31,New Mexico,N.Mex.,NM,121598.0,1515069.0
32,New York,N.Y.,NY,54471.0,17990455.0
33,North Carolina,N.C.,NC,53821.0,6628637.0
34,North Dakota,N.Dak.,ND,70704.0,638800.0
35,Ohio,Ohio,OH,44828.0,10847115.0
36,Oklahoma,Okla.,OK,69903.0,3145585.0
37,Oregon,Oreg.,OR,98386.0,2842321.0
38,Pennsylvania,Pa.,PA,46058.0,11881643.0
39,Rhode Island,R.I.,RI,1545.0,1003464.0
40,South Carolina,S.C.,SC,32008.0,3468703.0
41,South Dakota,S.Dak.,SD,77121.0,696004.0
42,Tennessee,Tenn.,TN,42146.0,4877185.0
43,Texas,Tex.,TX,268601.0,16986510.0
44,Utah,Utah,UT,84904.0,1722850.0
45,Vermont,Vt.,VT,9615.0,562758.0
46,Virginia,Va.,VA,42777.0,6187358.0
47,Washington,Wash.,WA,71302.0,4866692.0
48,West Virginia,W.Va.,WV,24231.0,1793477.0
49,Wisconsin,Wis.,WI,65499.0,4891769.0
50,Wyoming,Wyo.,WY,97818.0,453588.0
51,NaN,NaN,NaN,NaN,NaN
52,United States,NaN,NaN,3787316.0,248691873.0
53,NaN,NaN,NaN,NaN,NaN
54,* 1990 Census,NaN,NaN,NaN,NaN

In [50]:
import pandas as pd

df = {'sport' : ['football', 'hockey', 'baseball', 'basketball'], 'league': ['NFL', 'NHL', 'MLB', 'NBA'], 'number': [1,2,3,4]}
df = pd.DataFrame(df)
df

def printlinesindf(row):
    print('This is my favrotie sport:', row[0], 'and this is my favorite league:',row[1], 'and this is my ranking:', row[2])
    
df.apply(lambda row: printlinesindf(row), axis=1)

This is my favrotie sport: football and this is my favorite league: NFL and this is my ranking: 1
This is my favrotie sport: hockey and this is my favorite league: NHL and this is my ranking: 2
This is my favrotie sport: baseball and this is my favorite league: MLB and this is my ranking: 3
This is my favrotie sport: basketball and this is my favorite league: NBA and this is my ranking: 4

0    None
1    None
2    None
3    None
dtype: object

In [ ]:
# USE THIS ONE FOR TEST, IF APPLICABLE

In [91]:
import pandas as pd
import numpy as np

file = pd.read_csv('/Users/pergolicious/Downloads/states_data.tsv', sep = '\t')

def printlines(file):
    file[0] = str(file[0])
    file[1] = str(file[1])
    file[3] = str(file[3])
    if file[0] == '' or file[0].startswith('*') or file[0].startswith('nan'):
        pass
    else:
        print('State:',str(file[0]),'| Abbreviation:',str(file[1]),'| Population:',str(file[3]))
    
file.apply(lambda row: printlines(row), axis = 1)
file
print(len(file))

State: Alabama | Abbreviation: Ala. | Population: 52,423
State: Alaska | Abbreviation: Alaska | Population: 656,424
State: Arizona | Abbreviation: Ariz. | Population: 114,006
State: Arkansas | Abbreviation: Ark. | Population: 53,182
State: California | Abbreviation: Calif. | Population: 163,707
State: Colorado | Abbreviation: Colo. | Population: 104,100
State: Connecticut | Abbreviation: Conn. | Population: 5,544
State: Delaware | Abbreviation: Del. | Population: 2,489
State: District of Columbia | Abbreviation: D.C. | Population: 68
State: Florida | Abbreviation: Fla. | Population: 65,756
State: Georgia | Abbreviation: Ga. | Population: 59,441
State: Hawaii | Abbreviation: Hawaii | Population: 10,932
State: Idaho | Abbreviation: Idaho | Population: 83,574
State: Illinois | Abbreviation: Ill. | Population: 57,918
State: Indiana | Abbreviation: Ind. | Population: 36,420
State: Iowa | Abbreviation: Iowa | Population: 56,276
State: Kansas | Abbreviation: Kans. | Population: 82,282
State: Kentucky | Abbreviation: Ky. | Population: 40,411
State: Louisiana | Abbreviation: La. | Population: 51,843
State: Maine | Abbreviation: Maine | Population: 35,387
State: Maryland | Abbreviation: Md. | Population: 12,407
State: Massachusetts | Abbreviation: Mass. | Population: 10,555
State: Michigan | Abbreviation: Mich. | Population: 96,705
State: Minnesota | Abbreviation: Minn. | Population: 86,943
State: Mississippi | Abbreviation: Miss. | Population: 48,434
State: Missouri | Abbreviation: Mo. | Population: 69,709
State: Montana | Abbreviation: Mont. | Population: 147,046
State: Nebraska | Abbreviation: Nebr. | Population: 77,358
State: Nevada | Abbreviation: Nev. | Population: 110,567
State: New Hampshire | Abbreviation: N.H. | Population: 9,351
State: New Jersey | Abbreviation: N.J. | Population: 8,722
State: New Mexico | Abbreviation: N.Mex. | Population: 121,598
State: New York | Abbreviation: N.Y. | Population: 54,471
State: North Carolina | Abbreviation: N.C. | Population: 53,821
State: North Dakota | Abbreviation: N.Dak. | Population: 70,704
State: Ohio | Abbreviation: Ohio | Population: 44,828
State: Oklahoma | Abbreviation: Okla. | Population: 69,903
State: Oregon | Abbreviation: Oreg. | Population: 98,386
State: Pennsylvania | Abbreviation: Pa. | Population: 46,058
State: Rhode Island | Abbreviation: R.I. | Population: 1,545
State: South Carolina | Abbreviation: S.C. | Population: 32,008
State: South Dakota | Abbreviation: S.Dak. | Population: 77,121
State: Tennessee | Abbreviation: Tenn. | Population: 42,146
State: Texas | Abbreviation: Tex. | Population: 268,601
State: Utah | Abbreviation: Utah | Population: 84,904
State: Vermont | Abbreviation: Vt. | Population: 9,615
State: Virginia | Abbreviation: Va. | Population: 42,777
State: Washington | Abbreviation: Wash. | Population: 71,302
State: West Virginia | Abbreviation: W.Va. | Population: 24,231
State: Wisconsin | Abbreviation: Wis. | Population: 65,499
State: Wyoming | Abbreviation: Wyo. | Population: 97,818
State: United States | Abbreviation: nan | Population: 3,787,316
55

In [68]:
import pandas as pd
import numpy as np

file = pd.read_excel('/Users/pergolicious/Downloads/states_data.xls')
file = file[file.notna()]

def printlines(file):
    print('State:',file[0],'| Abbreviation:',file[1],'| Population:',file[2])
    
file.apply(lambda row: printlines(row), axis = 1)

print(len(file))

State: Alabama | Abbreviation: Ala. | Population: AL
State: Alaska | Abbreviation: Alaska | Population: AK
State: Arizona | Abbreviation: Ariz. | Population: AZ
State: Arkansas | Abbreviation: Ark. | Population: AR
State: California | Abbreviation: Calif. | Population: CA
State: Colorado | Abbreviation: Colo. | Population: CO
State: Connecticut | Abbreviation: Conn. | Population: CT
State: Delaware | Abbreviation: Del. | Population: DE
State: District of Columbia | Abbreviation: D.C. | Population: DC
State: Florida | Abbreviation: Fla. | Population: FL
State: Georgia | Abbreviation: Ga. | Population: GA
State: Hawaii | Abbreviation: Hawaii | Population: HI
State: Idaho | Abbreviation: Idaho | Population: ID
State: Illinois | Abbreviation: Ill. | Population: IL
State: Indiana | Abbreviation: Ind. | Population: IN
State: Iowa | Abbreviation: Iowa | Population: IA
State: Kansas | Abbreviation: Kans. | Population: KS
State: Kentucky | Abbreviation: Ky. | Population: KY
State: Louisiana | Abbreviation: La. | Population: LA
State: Maine | Abbreviation: Maine | Population: ME
State: Maryland | Abbreviation: Md. | Population: MD
State: Massachusetts | Abbreviation: Mass. | Population: MA
State: Michigan | Abbreviation: Mich. | Population: MI
State: Minnesota | Abbreviation: Minn. | Population: MN
State: Mississippi | Abbreviation: Miss. | Population: MS
State: Missouri | Abbreviation: Mo. | Population: MO
State: Montana | Abbreviation: Mont. | Population: MT
State: Nebraska | Abbreviation: Nebr. | Population: NE
State: Nevada | Abbreviation: Nev. | Population: NV
State: New Hampshire | Abbreviation: N.H. | Population: NH
State: New Jersey | Abbreviation: N.J. | Population: NJ
State: New Mexico | Abbreviation: N.Mex. | Population: NM
State: New York | Abbreviation: N.Y. | Population: NY
State: North Carolina | Abbreviation: N.C. | Population: NC
State: North Dakota | Abbreviation: N.Dak. | Population: ND
State: Ohio | Abbreviation: Ohio | Population: OH
State: Oklahoma | Abbreviation: Okla. | Population: OK
State: Oregon | Abbreviation: Oreg. | Population: OR
State: Pennsylvania | Abbreviation: Pa. | Population: PA
State: Rhode Island | Abbreviation: R.I. | Population: RI
State: South Carolina | Abbreviation: S.C. | Population: SC
State: South Dakota | Abbreviation: S.Dak. | Population: SD
State: Tennessee | Abbreviation: Tenn. | Population: TN
State: Texas | Abbreviation: Tex. | Population: TX
State: Utah | Abbreviation: Utah | Population: UT
State: Vermont | Abbreviation: Vt. | Population: VT
State: Virginia | Abbreviation: Va. | Population: VA
State: Washington | Abbreviation: Wash. | Population: WA
State: West Virginia | Abbreviation: W.Va. | Population: WV
State: Wisconsin | Abbreviation: Wis. | Population: WI
State: Wyoming | Abbreviation: Wyo. | Population: WY
State: nan | Abbreviation: nan | Population: nan
State: United States | Abbreviation: nan | Population: nan
State: nan | Abbreviation: nan | Population: nan
State: * 1990 Census | Abbreviation: nan | Population: nan
55

In [63]:
# Class Answer:

# This program reads the data from the states tsv file
# Each line has the state name, abbreviation, postal code, area and population.
# It stores the items in each line in a dictionary whose keys represent the column names. # It print the state name, abbreviation and population for each state.
import csv
infile = '/Users/pergolicious/Downloads/states_data.tsv'
# create new empty list 
statesList = []
with open(infile, 'rU') as csvfile:
    # the csv file reader returns a list of the csv items on each line 
    stateReader = csv.reader(csvfile, dialect='excel', delimiter='\t')
    # from each line, a list of row items, put each element in a dictionary # with a key representing the data
    for line in stateReader:
    # skip lines without data, specific for each file to catch non-data lines 
        if line[0] == '' or line[0].startswith('Data') or line[0].startswith('*'):
            continue 
        else:
        # create a dictionary for each state
            state = {}
        # add each piece of data under a key representing that column data 
            state['name'] = line[0]
            state['abbrev'] = line[1]
            state['code'] = line[2]
            state['area'] = int(line[3].replace(',',''))
            state['pop'] = int(line[4].replace(',',''))
    # add this state to the list 
            statesList.append(state)

print ("Read", len(statesList), "state data")
# print a few fields from all of the states read from the file
for state in statesList:
    print ('State:', state['name'], ' Abrv: ', state['abbrev'], ' Population: ', state['pop'])

print(len(statesList))
csvfile.close()

Read 52 state data
State: Alabama  Abrv:  Ala.  Population:  4040587
State: Alaska  Abrv:  Alaska  Population:  550043
State: Arizona  Abrv:  Ariz.  Population:  3665228
State: Arkansas  Abrv:  Ark.  Population:  2350725
State: California  Abrv:  Calif.  Population:  29769021
State: Colorado  Abrv:  Colo.  Population:  3294394
State: Connecticut  Abrv:  Conn.  Population:  3287116
State: Delaware  Abrv:  Del.  Population:  666168
State: District of Columbia  Abrv:  D.C.  Population:  606900
State: Florida  Abrv:  Fla.  Population:  12937926
State: Georgia  Abrv:  Ga.  Population:  6478216
State: Hawaii  Abrv:  Hawaii  Population:  1108229
State: Idaho  Abrv:  Idaho  Population:  1006749
State: Illinois  Abrv:  Ill.  Population:  11430602
State: Indiana  Abrv:  Ind.  Population:  5544159
State: Iowa  Abrv:  Iowa  Population:  2776755
State: Kansas  Abrv:  Kans.  Population:  2477574
State: Kentucky  Abrv:  Ky.  Population:  3685296
State: Louisiana  Abrv:  La.  Population:  4219973
State: Maine  Abrv:  Maine  Population:  1227928
State: Maryland  Abrv:  Md.  Population:  4781468
State: Massachusetts  Abrv:  Mass.  Population:  6016425
State: Michigan  Abrv:  Mich.  Population:  9295297
State: Minnesota  Abrv:  Minn.  Population:  4375099
State: Mississippi  Abrv:  Miss.  Population:  2573216
State: Missouri  Abrv:  Mo.  Population:  5117073
State: Montana  Abrv:  Mont.  Population:  799065
State: Nebraska  Abrv:  Nebr.  Population:  1578385
State: Nevada  Abrv:  Nev.  Population:  1201833
State: New Hampshire  Abrv:  N.H.  Population:  1109252
State: New Jersey  Abrv:  N.J.  Population:  7730188
State: New Mexico  Abrv:  N.Mex.  Population:  1515069
State: New York  Abrv:  N.Y.  Population:  17990455
State: North Carolina  Abrv:  N.C.  Population:  6628637
State: North Dakota  Abrv:  N.Dak.  Population:  638800
State: Ohio  Abrv:  Ohio  Population:  10847115
State: Oklahoma  Abrv:  Okla.  Population:  3145585
State: Oregon  Abrv:  Oreg.  Population:  2842321
State: Pennsylvania  Abrv:  Pa.  Population:  11881643
State: Rhode Island  Abrv:  R.I.  Population:  1003464
State: South Carolina  Abrv:  S.C.  Population:  3468703
State: South Dakota  Abrv:  S.Dak.  Population:  696004
State: Tennessee  Abrv:  Tenn.  Population:  4877185
State: Texas  Abrv:  Tex.  Population:  16986510
State: Utah  Abrv:  Utah  Population:  1722850
State: Vermont  Abrv:  Vt.  Population:  562758
State: Virginia  Abrv:  Va.  Population:  6187358
State: Washington  Abrv:  Wash.  Population:  4866692
State: West Virginia  Abrv:  W.Va.  Population:  1793477
State: Wisconsin  Abrv:  Wis.  Population:  4891769
State: Wyoming  Abrv:  Wyo.  Population:  453588
State: United States  Abrv:    Population:  248691873
52

/var/folders/50/cmvlyf1x0jxfqm3s7khyhbt40000gn/T/ipykernel_34643/1793319726.py:10: DeprecationWarning: 'U' mode is deprecated
  with open(infile, 'rU') as csvfile: