# QUIZ 1

Code used for QUIZ 1 of IST 652

In [1]:
m = True
n = 3.14
q = "−7.2345907654"
print (type(m))
print(type(n))
print(type(q))

<class 'bool'>
<class 'float'>
<class 'str'>

In [5]:
String1 = 'Monty Python'
String2 = "Monty Python"
String3 = 'Monty ' + 'Python'

print(String1)
print(String2)
print(String3)

print('All of the above have the correct syntax for defining a string')

Monty Python
Monty Python
Monty Python
All of the above have the correct syntax for defining a string

Q 3
Question 3
The correct syntax for creating an empty list named Students is

Select one:
a. Students[] = 0
b. Students[] = empty
c. Students = []
d. Students = ['']

Answer: C

Q 4
Question 4
Consider the following code:

Evennumbers = [2, 4, 6, 8, 10, 12, 14, 16, 18]
Temp = Evennumbers[1]+Evennumbers[3]
Calculate the value of Evennumbers[1], Evennumbers[3], Evennumbers[7], and Temp, respectively.

In [10]:
Evennumbers = [2, 4, 6, 8, 10, 12, 14, 16, 18]

Temp = Evennumbers[1]+Evennumbers[3]

print('Evennumbers[1] =', Evennumbers[1])
print('Evennumbers[3] =', Evennumbers[3])
print('Evennumbers[7] =', Evennumbers[7])
print('Temp =', Temp)

Evennumbers[1] = 4
Evennumbers[3] = 8
Evennumbers[7] = 16
Temp = 12

Q 5
Question 5
Consider the following list:

Suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
What will be the value of Suitcase[1:] and Suitcase[:4], respectively?

Select one:
a. ["hat", "passport", "laptop", "suit", "shoes"] and ["sunglasses", "hat", "passport", "laptop"]
b. ["sunglasses"] and ["laptop"]
c. ["hat"] and ["suit"]
d. ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"] and ["sunglasses", "hat", "passport", "laptop", "suit"]

In [11]:
Suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
print('Value of Suitcase[1:] =', Suitcase[1:])
print('Value of Suitcase[:4] =', Suitcase[:4])

Value of Suitcase[1:] = ['hat', 'passport', 'laptop', 'suit', 'shoes']
Value of Suitcase[:4] = ['sunglasses', 'hat', 'passport', 'laptop']

Q 6
Question 6
Which of the following expressions will make the condition inside the IF statement "TRUE" with the following value for x:

     x = 5
if(<choose the expression from the options given below>):
     print("Welcome to the world of logical operators")
else:
     print("Try Again")

In [12]:
x = 5
if(x >= 0 or x < 0):
     print("Welcome to the world of logical operators")
else:
     print("Try Again")

Welcome to the world of logical operators

Q 7
Question 7
Consider the following code:

xlist = [1, 2, 3, 4]
for x in xlist:
     print(x + 1)



What will the output be (where the numbers will be on separate lines)?

In [13]:
xlist = [1, 2, 3, 4]
for x in xlist:
     print(x + 1)

2
3
4
5

Q 8
Question 8
Consider the following program:

nlist = [8, 92, 79, 55, 23, 17, 4, 45, 63, 9, 100]
threshold = input('Type Threshold: ')
if (max(nlist) > threshold):
     print('Great')
else:
     print('Not great')


If the user types in '55', what will the result be?

In [14]:
nlist = [8, 92, 79, 55, 23, 17, 4, 45, 63, 9, 100]
threshold = input('Type Threshold: ')
if (max(nlist) > threshold):
     print('Great')
else:
     print('Not great')

Type Threshold:  55

TypeError: '>' not supported between instances of 'int' and 'str'

Q 9
Question 9
In the blog post Data Science: A Kaggle Walkthrough—Understanding the Data, Brett Romero creates Chart 2—Reported Ages of Users. In this chart, we see that there are a number of people whose ages are between 100 and 1,000. This is an example of

Answer: Using outliers to identify issues with the data

Q 10

True....lol

 11
Question 11
Question 1: Lists and Strings


Suppose that you have a list of strings named examples. Write a Python loop that goes through the list and prints each string where the string length is three or more and the first and last characters of the strings are the same.

Test your code on the following three versions of the list examples:
examples = ['abab', 'xyz', 'aa', 'x', 'bcb']
examples = ['', 'x', 'xy', 'xyx', 'xx']
examples = ['aaa', 'be', 'abc', 'hello']

You may do this exercise either in the interpreter or in a program. Please submit your code and the output from the three examples.

In [100]:
# List of example lists provided through the question
#examples = ['abab', 'xyz', 'aa', 'x', 'bcb']
examples = ['', 'x', 'xy', 'xyx', 'xx']
#examples = ['aaa', 'be', 'abc', 'hello']

# Create a for-loop to iterate through the length of the list titled 'examples'; it's important to note that the range function was utilized in order to ensure accuracy of hte loop
for item in range(len(examples)):
    # Within the for-loop, we use an if statement that introduces conditional logic through the 'and' operator.  If the character count is 3 or more and if the first character matches the last, we print the output as such:
    if len(examples[item]) >= 3 and examples[item][0] == examples[item][-1]:
        print(examples[item])

xyx

Q 12
Question 12
Question 2: Reading and processing data in a file


For this question, you are to write a program that reads the data in the file state_satscores_2004.txt. Each line of this file has name of a state, mean Verbal SAT score, and mean Math SAT score.

After reading the data, 
a. Print the state with the highest mean Verbal SAT score 
b. Print each state that has a mean Math SAT score greater than 500

Submit the code and the output from your program.

You may use the code developed for the NBA data as a template, but it is absolutely essential that you use appropriate variable names and that you write original comments for what your program does.

If you prefer, you can write this program with a csv reader, using state_satscores_2004.tsv.

In [104]:
# Import the pandas package to help importing the data
import pandas as pd

# Read data to the python interpreter by provding the path name, separator, and column names
filename_state_satscores_2004 = pd.read_csv('/Users/pergolicious/Downloads/state_satscores_2004.txt', sep = '\t', names = ['State', 'Mean Verbal SAT Score', 'Mean Math SAT Score', 'Unkown'])
# Extra column was read in and is filled with blanks/NaNs, so this column is removed in the next line of code
filename_state_satscores_2004 = filename_state_satscores_2004.iloc[:,:-1]
# Ensure the data frame is loaded correctly
filename_state_satscores_2004

# Find the state with the highest mena Verbal SAT score.  This approach is different from what was explored in class; I believe it is more efficient.
    # We are using the loc function to specify which columns we'd like to filter by and which to show.  The idxmax command helps us find the max within the Mean Verbal SAT Score column
HighestMeanVerbalSatScore_state = filename_state_satscores_2004.loc[filename_state_satscores_2004['Mean Verbal SAT Score'].idxmax(),'State']
# We do something similar for th next line of code, but instead of locating the state, we're locating the score itself
HighestMeanVerbalSatScore_score = filename_state_satscores_2004.loc[filename_state_satscores_2004['Mean Verbal SAT Score'].idxmax(),'Mean Verbal SAT Score']

# Print context to part A and provide the answer to the overall question
print('Part A:')
print('Print the state with the highest mean Verbal SAT score:',HighestMeanVerbalSatScore_state, '(',HighestMeanVerbalSatScore_score,')')

# Separator to distinguish between parts A and B
print('----------------------------------')

# Print context to part B and provide the answer to the overall question
print('Part B:')
print('Print each state that has a mean Math SAT score of greater than 500:', filename_state_satscores_2004.loc[filename_state_satscores_2004['Mean Math SAT Score'] > 500,['State']])

Part A:
Print the state with the highest mean Verbal SAT score: South_Dakota ( 594 )
----------------------------------
Part B:
Print each state that has a mean Math SAT score of greater than 500:              State
0         New_York
1      Connecticut
2    Massachusetts
3       New_Jersey
4    New_Hampshire
6            Maine
7     Pennsylvania
10    Rhode_Island
11        Virginia
12  North_Carolina
13        Maryland
15         Vermont
16         Indiana
18          Hawaii
19          Oregon
20          Alaska
22      Washington
23      California
24          Nevada
25         Arizona
26         Montana
27            Ohio
28        Colorado
29           Idaho
30   West_Virginia
31       Tennessee
32      New_Mexico
33        Kentucky
34         Wyoming
35        Michigan
36        Illinois
37       Minnesota
38         Alabama
39          Kansas
40       Louisiana
41        Missouri
42        Nebraska
43        Oklahoma
44       Wisconsin
45            Utah
46        Arkansas
47            Iowa
48    South_Dakota
49     Mississippi
50    North_Dakota